<section class="main px-0 pb-3">

    <div class="wrap-login" *ngIf="session">
        <div class="card relogin">
            <div class="card-body text-center">
                <p>Session ended<br>Please log in again.</p>
            </div>
        </div>
    </div>

    <div class="container-fluid py-2 sec1 mb-3">
        <div class="d-flex align-items-center">
            <div class="d-flex align-items-center">
                <a class="btn" routerLink="/home">
                    <i class="fas fa-chevron-left"></i>
                </a>
                <p>Profile</p>
            </div>
        </div>
    </div>
    <div class="container-fluid sec2 mb-4">
        <div class="title d-flex mb-2 align-items-center">
            <div class="pet-text">
                <p>Your Profile</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <img src="http://{{owner.profile}}" (error)="handleImageError($event)" alt="">
                <div class="main my-2">
                    <h5>{{owner.name}}</h5>
                    <p class="text-muted"><small>{{owner.email}}</small></p>
                </div>
                <button class="btn btn-pet"
                    data-bs-toggle="modal" data-bs-target="#editProfile" (click)="updateData(owner.profile)">Edit Profile</button>
            </div>
        </div>
    </div>
    <div class="container-fluid sec3 mb-4">
        <div class="title d-flex mb-2 align-items-center">
            <div class="pet-text">
                <p>Pets <span class="badge bg-secondary">{{pet.length!}}</span></p>
            </div>
            <a class="ms-auto btn">Add new pet</a>
        </div>
        <div class="nopet bg-secondary" *ngIf="nopet">
            <small>I'm sorry to inform you that you do not have a pet.</small>
        </div>
        <div class="row">
            <div class="col-6 mb-3" *ngFor="let item of pet">
                <div class="card">
                    <div class="card-body p-2">
                        <img src="http://{{item.data.pet_image}}" alt="">
                        <div class="main p-1">
                            <h5 class="mt-2"><a class="stretched-link" type="button" data-bs-toggle="modal"
                                    data-bs-target="#editPet">{{item.data.pet_name.toUpperCase()}}</a></h5>
                            <small class="text-muted">{{item.data.pet_age}}</small><br>
                        </div>
                        <div class="p-1">
                            <p class="text-muted"><i class="fas fa-syringe"></i> : -</p>
                            <p class="text-muted"><i class="fas fa-paw"></i> : {{ item.data.pet_ras | slice:0:10 }}{{
                                item.data.pet_ras.length > 10 ? '...' : '' }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid sec4 mb-4">
        <div class="title d-flex mb-2 align-items-center">
            <div class="pet-text">
                <p>Settings</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body p-0">
                <ul class="list-group border-0">
                    <li class="py-3 list-group-item d-flex align-items-center">
                        <i class="fas fa-globe me-2"></i>
                        Website
                        <i class="ms-auto fas fa-chevron-right"></i>
                    </li>
                    <li class="py-3 list-group-item d-flex align-items-center">
                        <i class="fas fa-info-circle me-2"></i>
                        About
                        <i class="ms-auto fas fa-chevron-right"></i>
                    </li>
                    <li class="py-3 list-group-item d-flex align-items-center">
                        <i class="fas fa-shield me-2"></i>
                        Pirvacy & Security
                        <i class="ms-auto fas fa-chevron-right"></i>
                    </li>
                    <li class="py-3 list-group-item d-flex align-items-center">
                        <i class="fas fa-exclamation-triangle me-2"></i>
                        Report Problem
                        <i class="ms-auto fas fa-chevron-right"></i>
                    </li>
                    <li class="py-3 list-group-item d-flex align-items-center bg-danger text-light" (click)="logout()">
                        <i class="fas fa-sign-out me-2"></i>
                        Sign out
                        <i class="ms-auto fas fa-chevron-right"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="editPet" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pb-4">
                <form>
                    <div class="mb-3 text-center">
                        <img src="https://via.placeholder.com/100" class="mb-2" alt="">
                        <input style="display: none" type="file" accept="image/*" (change)="onFileChanged($event)"
                            #fileInput />
                        <div class="flex-column">
                            <p>{{showName}}</p>
                            <button type="button" class="upload-button btn" value="Upload attachment(s)"
                                (click)="fileInput.click()">Change Image</button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Pet Name</label>
                        <input type="text" placeholder="e.g Miu" class="py-3 border-0 form-control"
                            id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Ras</label>
                                <input type="text" placeholder="e.g Himalaya" class="py-3 border-0 form-control"
                                    id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Gender</label>
                                <select class="form-select py-3 border-0" id="inputGroupSelect01">
                                    <option selected>Choose...</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Date of Birth</label>
                        <input type="date" pattern="\d{2}-\d{2}-\d{4}" placeholder="Enter username"
                            class="py-3 border-0 form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Pet Story</label>
                        <textarea placeholder="Write a story of your pet" class="form-control"
                            id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <button class="btn btn-pet w-100 py-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Profile -->
<div class="modal fade" id="editProfile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pb-4">
                <form [formGroup]="formProfile">
                    <div class="mb-3 text-center">
                        <img src="http://{{dataStorage.profile}}" class="mb-2" alt="">
                        <!-- <img class="update-image" *ngIf="updatePP" src="{{showNewImage}}" alt=""> -->
                        <input style="display: none" formControlName="image"  type="file" accept="image/*" (change)="onProfileChange($event)"
                            #profileInput />
                        <div class="flex-column">
                            <p>{{showNewImageName}}</p>
                            <button type="button" class="upload-button btn" value="Upload attachment(s)"
                                (click)="profileInput.click()">Change Image</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Username <a class="btn p-0" type="button" data-toggle="tooltip" data-placement="top" title="Tooltip on top"><i class="fas fa-info-circle"></i></a></label>
                                <input formControlName="username" type="text" placeholder="e.g Miu"
                                    class="py-3 border-0 form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Instagram</label>
                                <input type="text" formControlName="ig" placeholder="e.g Miu"
                                    class="py-3 border-0 form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Location</label>
                        <select class="form-select py-3 border-0" formControlName="location">
                            <option *ngFor="let item of cities" [value]="item.value">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input formControlName="email" type="email" placeholder="e.g Miu"
                            class="py-3 border-0 form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <button class="btn btn-pet w-100 py-3" (click)="submitProfile()">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>