<section class="main px-0">
    <div class="container-fluid pt-4 sec1 text-center">
        <div class="wrap">
            <img src="https://via.placeholder.com/400" alt="">
        </div>
    </div>
    <div class="container-fluid sec2">
        <div class="card">
            <div class="card-body">
                <div class="my-4 d-flex">
                   <div class="flex-column">
                        <h5>Rabi The Cat</h5>
                        <small class="text-muted">Jakarta Timur</small>
                   </div>
                   <div class="ms-auto gender">
                        <i class="fas fa-venus"></i>
                   </div>
                </div>
                <div class="wrap d-flex">
                    <div class="content">
                        <p>4 Months</p>
                        <small class="text-muted">Age</small>
                    </div>
                    <div class="content">
                        <p>4 Months</p>
                        <small class="text-muted">Age</small>
                    </div>
                    <div class="content">
                        <p>4 Months</p>
                        <small class="text-muted">Age</small>
                    </div>
                </div>
                <div class="story my-4">
                    <p class="mb-3">Pet Story</p>
                    <p class="text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum est sapiente nihil. Officiis, ducimus sit!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid sec3 my-4">
        <div class="d-flex align-items-center">
            <img src="https://via.placeholder.com/50" class="me-2" alt="">
            <div class="wrap">
                <small>Owner</small>
                <p>Aggiat Rachmana</p>
            </div>
            <a class="btn ms-auto">Visit</a>
        </div>
    </div>
    <div class="container-fluid sec4">
        <button class="btn btn-pet w-100 py-3">Share Pets</button>
    </div>
</section>