.container-fluid{
    background: #ffffff;
    height: 100dvh;
    h1{
        font-weight: 600;
    }
    p{
        font-size: 13pt;
        width: 70%;
        margin: auto;
    }
    label{
        font-weight: 600;
    }
    input{
        background: rgb(241, 241, 241);
    }
    input{
        border-radius: 10px;
    }
    .btn{
        border-radius: 20px;
    }
    // .btn{
    //     box-shadow: 4px 4px 0 #000;
    //     background: #22c993;
    //     border: 2px solid black;
    //     color: black;
    // }
}

.card{
    border: 2px solid black;
    border-radius: 30px;
}