<div class="container-fluid text-center">
    <div class="flex-column w-100 py-5">
        <img src="/assets/logo.png" class="mb-3" alt="">
        <h1 class="mb-2 main-color">Hello Again!</h1>
        <p class="mb-5">Welcome back you've been missed!</p>
        <form>
            <div class="mb-3">
                <input type="text" placeholder="Enter username" class="py-3 border-0 form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <input type="password" placeholder="Password" class="py-3 border-0 form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-4 float-end">
                <small class="text-muted">Forgot Password?</small>
            </div>
            <button type="submit" class="btn w-100 py-3">Sign In</button>
        </form>
    </div>
</div>
<footer class="fixed-bottom d-flex flex-wrap justify-content-center align-items-center border-top">
    <div class="wrap py-3">
        <small>Not a member? <span class="text-primary">Register now</span></small>
    </div>
</footer>