<footer class="sticky-bottom">
        <nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
            <ul class="navbar-nav w-100">
                <li class="nav-item">
                  <a class="nav-link">
                    <i class="fas fa-home"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">
                    <i class="fas fa-home"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">
                    <i class="fas fa-user"></i>
                  </a>
                </li>
              </ul>
          </nav>
</footer>
<!-- <footer class="fixed-bottom border-top">
    <div class="wrap py-3 d-flex justify-content-evenly">
       <button class="btn">
        <i class="fas fa-home"></i>
       </button>
       <button class="btn">
        <i class="fas fa-home"></i>
       </button>
       <button class="btn">
        <i class="fas fa-user"></i>
       </button>
    </div>
</footer> -->