/* You can add global styles to this file, and also import other style files */
p,h1,h2,h3,h4,h5{
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif !important;
}

.main-color{
    color: rgb(7, 7, 7) !important;
}

.pet-text{
    color: #040637 !important;
    font-weight: 600;
}

.btn-pet{
    box-shadow: 4px 4px 0 #000 !important;
    background: #22c993 !important;
    border: 2px solid black !important;
    color: black !important;
    font-weight: 600;
    transition: ease 0.4s;
    &:hover{
        box-shadow: none !important;
    }
}

.pet-shadow{
    box-shadow: 4px 4px 0 #000 !important;
    border: 2px solid black !important;
}

.pet-border{
    border: 2px solid black !important;
}

.yellow{
    color: #fdcd4e !important;
}

.pet-primary{
    color: #22c993 !important;
}

.pet-bg-primary{
    background: #389cf4 !important;
}

// #5daaed

@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';